/*****************************
 * CV shared styles
 *****************************/

div.container-link-button {
  margin-right: 0.5rem;
}

table.table-cv {
  background-color: transparent !important;
}

a.btncv {
  color: var(--global-text-color) !important;
  border: 1px solid var(--global-text-color) !important;
  border-radius: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;
  font-weight: 400;
  font-size: .7rem;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
}

a.btncv:hover {
  color: var(--global-theme-color) !important;
  border-color: var(--global-theme-color) !important;
  text-decoration: none !important;
}

/*****************************
 * CV TIME_TABLE styles
 *****************************/

p.location {
  font-size: 0.7rem;
  white-space: nowrap;
}

i.iconlocation {
  color: var(--global-theme-color);
  font-size: 0.8rem;
}

i.iconinstitution {
  color: var(--global-theme-color);
  font-size: 0.95rem;
  margin-right: 0.3rem;
}

i.icondepartment {
  color: var(--global-theme-color);
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

table.institution {
  margin-bottom: 1rem;
}

td.department {
  font-size: 0.8rem;
}

div.container-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/*****************************
 * CV MAP styles
 *****************************/

div.container-pdf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

/*****************************
 * CV LIST_GROUPS styles
 *****************************/

/* Container for all list groups */
div.list-groups {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  justify-content: flex-start; /* Align items to the start of the container */
  flex-direction: row; /* Arrange items in a row */
  align-content: flex-start; /* Center content along the cross axis */
}

/* Individual list group container */
div.list-group {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the start of the container */
  margin-bottom: 2rem; /* Space below each list group */
}

/* Category cell in list group, potentially containing years */
td.list-group-category {
  color: var(--global-theme-color); /* Text color for category */
  margin-bottom: 0.5rem; /* Space below category */
}

/* Icon cell for category in list group */
td.list-group-category-icon {
  font-size: 0.8rem; /* Font size for icons */
  color: var(--global-theme-color); /* Color for icons */
  width: 1.4rem; /* Width of the icon container */
  padding-right: 0.4rem; /* Space to the right of the icon */
}

/* Name cell in list group */
td.list-group-name {
  font-size: 0.8rem; /* Font size for name */
}

/* Level cell in list group */
td.list-group-level {
  font-size: 0.8rem; /* Font size for level */
  padding-left: 0.5rem; /* Space to the left of the level */
}

/* School cell in list group */
td.list-group-school {
  font-size: 0.7rem; /* Font size for school name */
  padding-left: 0.5rem; /* Space to the left of the school name */
  text-align: center; /* Center-align text */
}

/* Paragraph for time elements in list group, likely displaying years or periods */
p.list-group-time {
  font-size: 0.7rem; /* Font size for time elements */
  padding-left: 0.5rem; /* Space to the left of the time elements */
  text-align: left; /* Align text to the left */
}

/* Link cell in list group */
td.list-group-link {
  padding-left: 0.5rem; /* Space to the left of the link */
}

/*****************************
 * CV TOC styles
 *****************************/

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

ul.timeline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul.timeline li {
  position: relative;
  min-height: 2.2rem;
  color: var(--global-text-color);
  list-style-position: inside;
}

span.badge-toc {
  color: var(--global-bg-color);
  background-color: var(--global-theme-color);
  border-radius: 0.125rem;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  font-weight: 700 !important;
  display: inline-block;
  inline-size: fit-content;
}

ul.timeline li::before {
  content: "";
  min-height: 2.5rem;
  width: 1px;
  background: var(--global-text-color);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2px;
  top: -0.5rem;
}

/*ul.timeline::before {
     content: "●";
     font-size: 1em;
     display: inline-block;
     margin: 0;
     padding: 0;
     position: relative;
     left: -2px;
     top: 0.4rem;
     color: var(--global-text-color);
}
 ul.timeline::after {
     content: "●";
     font-size: 1em;
     display: inline-block;
     margin: 0;
     padding: 0;
     position: relative;
     left: -2px;
     top: -1rem;
     color: var(--global-text-color);
}
*/