/*****************************
 * CV shared styles
 *****************************/

div.container-link-button {
  margin-right: 0.5rem;
}

table.table-cv {
  background-color: transparent !important;
}

a.btncv {
  color: var(--global-text-color) !important;
  border: 1px solid var(--global-text-color) !important;
  border-radius: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;
  font-weight: 400;
  font-size: .7rem;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
}

a.btncv:hover {
  color: var(--global-theme-color) !important;
  border-color: var(--global-theme-color) !important;
  text-decoration: none !important;
}

/*****************************
 * CV TIME_TABLE styles
 *****************************/

p.location {
  font-size: 0.7rem;
  white-space: nowrap;
}

i.iconlocation {
  color: var(--global-theme-color);
  font-size: 0.8rem;
}

i.iconinstitution {
  color: var(--global-theme-color);
  font-size: 0.95rem;
  margin-right: 0.3rem;
}

i.icondepartment {
  color: var(--global-theme-color);
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

table.institution {
  margin-bottom: 1rem;
}

td.department {
  font-size: 0.8rem;
}

div.container-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/*****************************
 * CV MAP styles
 *****************************/

div.container-pdf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

/*****************************
 * CV LIST_GROUPS styles
 *****************************/

/* Container for all list groups */
div.list-groups {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  justify-content: flex-start; /* Align items to the start of the container */
  flex-direction: row; /* Arrange items in a row */
  align-content: center; /* Center content along the cross axis */
}

/* Individual list group container */
div.list-group {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the start of the container */
  margin-bottom: 2rem; /* Space below each list group */
}

/* Category cell in list group, potentially containing years */
td.list-group-category {
  color: var(--global-theme-color); /* Text color for category */
  margin-bottom: 0.5rem; /* Space below category */
}

/* Icon cell for category in list group */
td.list-group-category-icon {
  font-size: 0.8rem; /* Font size for icons */
  color: var(--global-theme-color); /* Color for icons */
  width: 1.4rem; /* Width of the icon container */
  padding-right: 0.4rem; /* Space to the right of the icon */
}

/* Name cell in list group */
td.list-group-name {
  font-size: 0.8rem; /* Font size for name */
}

td.list-group-level {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  align-items: flex-start; /* Align items to the start of the container */
}

td.list-group-school {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-align: center;
}

p.list-group-time {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-align: left; /* Align groups left */
  
/* Container for all list groups */
div.list-groups {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  justify-content: flex-start; /* Align items to the start of the container */
  flex-direction: row; /* Arrange items in a row */
  align-content: center; /* Center content along the cross axis */
}

/* Individual list group container */
div.list-group {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping of flex items */
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the start of the container */
  margin-bottom: 2rem; /* Space below each list group */
}

/* Category cell in list group, potentially containing years */
td.list-group-category {
  color: var(--global-theme-color); /* Text color for category */
  margin-bottom: 0.5rem; /* Space below category */
}

/* Icon cell for category in list group */
td.list-group-category-icon {
  font-size: 0.8rem; /* Font size for icons */
  color: var(--global-theme-color); /* Color for icons */
  width: 1.4rem; /* Width of the icon container */
  padding-right: 0.4rem; /* Space to the right of the icon */
}

/* Name cell in list group */
td.list-group-name {
  font-size: 0.8rem; /* Font size for name */
}

td.list-group-level {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  align-items: flex-start; /* Align items to the start of the container */
}

td.list-group-school {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-align: center;
}

p.list-group-time {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-align: left; /* Align groups left */
  align-items: flex-start; /* Align items to the start of the container */
}

td.list-group-link {
  padding-left: 0.5rem;
}

}

td.list-group-link {
  padding-left: 0.5rem;
}

/*****************************
 * CV TOC styles
 *****************************/
 a.anchor {
  display: block;          // Makes the anchor element a block-level element
  position: relative;      // Positions the anchor element relative to its normal position
  top: -50px;              // Moves the anchor element 50 pixels up
  visibility: hidden;      // Hides the anchor element from view
}

ul.timeline {
  margin-top: 2rem;        // Adds a 2rem margin at the top of the timeline
  margin-bottom: 2rem;     // Adds a 2rem margin at the bottom of the timeline
}

ul.timeline li {
  position: relative;          // Positions the list item relative to its normal position
  min-height: 2.2rem;          // Sets a minimum height of 2.2rem for the list item
  color: var(--global-text-color);  // Sets the text color to a global variable
  list-style-position: inside; // Positions the list item markers inside the content flow
}

span.badge-toc {
  color: var(--global-bg-color);              // Sets the text color to the global background color
  background-color: var(--global-theme-color); // Sets the background color to the global theme color
  border-radius: 0.125rem;                    // Rounds the corners with a radius of 0.125rem
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;   // Adds padding: 0.125rem on top and bottom, 0.5rem on left and right
  font-weight: 700 !important;               // Sets font weight to bold and uses !important to override other styles
  display: inline-block;                     // Makes the element an inline-block element
  inline-size: fit-content;                  // Adjusts the width of the element to fit its content
  font-size: 1.2rem;                         // Adds a font size of 1.2rem (you can adjust this value as needed)
}

ul.timeline li::before {
  content: "";                           // Inserts an empty content before each list item
  min-height: 2.5rem;                    // Sets a minimum height of 2.5rem for the pseudo-element
  width: 1px;                            // Sets the width of the pseudo-element to 1px
  background: var(--global-text-color);  // Sets the background color to the global text color
  margin: 0;                             // Removes any margin around the pseudo-element
  padding: 0;                            // Removes any padding around the pseudo-element
  position: absolute;                    // Positions the pseudo-element absolutely within the list item
  left: 2px;                             // Positions the pseudo-element 2px from the left of the list item
  top: -0.5rem;                          // Positions the pseudo-element 0.5rem above the top of the list item
}


/*ul.timeline::before {
     content: "●";
     font-size: 1em;
     display: inline-block;
     margin: 0;
     padding: 0;
     position: relative;
     left: -2px;
     top: 0.4rem;
     color: var(--global-text-color);
}
 ul.timeline::after {
     content: "●";
     font-size: 1em;
     display: inline-block;
     margin: 0;
     padding: 0;
     position: relative;
     left: -2px;
     top: -1rem;
     color: var(--global-text-color);
}
*/